@mixin pos0($pos: absolute, $val: 0) {
	position: #{$pos};
	top: #{$val};
	right: #{$val};
	bottom: #{$val};
	left: #{$val};
}

@mixin pseudo(
	$loc: before,
	$content: '',
	$pos: absolute,
	$top: 0,
	$right: 0,
	$bottom: 0,
	$left: 0,
	$inset: false
) {
	&::#{$loc} {
		content: $content;
		position: $pos;
		@if $inset {
			top: $top;
			right: $right;
			bottom: $bottom;
			left: $left;
		}
		@content;
	}
}
