@mixin pos0($pos: absolute, $val: 0) {
	position: #{$pos};
	top: #{$val};
	right: #{$val};
	bottom: #{$val};
	left: #{$val};
}

@mixin pseudo($loc: before, $content: '', $pos: absolute) {
	&::#{$loc} {
		content: $content;
		position: $pos;
		@content;
	}
}
