@use '../abstracts/' as *;

a.back {
	text-decoration: none;
	background-color: var(--clr-back-bg);
	color: var(--clr-body-text);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	padding: 0.5em 1.5em;
	font-size: 1.1rem;
	border-radius: 100vh;

	@include pseudo($loc: after, $inset: true) {
		background-color: var(--clr-back-hover);
		border-radius: 100vh;
		pointer-events: none;
		opacity: 0;
		transition: opacity 250ms ease;
	}

	&:hover::after {
		opacity: 1;
	}
}
