@use '../abstracts/' as *;

.darkmode-check {
	display: none;
}

.darkmodeSwitch {
	--size: 2.5em;
	--width: 7em;
	height: var(--size);
	width: var(--width);
	background-color: rgb(39, 190, 255);
	border-radius: 100vh;
	position: absolute;
	right: 1.5em;

	@include pseudo($loc: before, $content: 'Light') {
		left: 15%;
		top: 50%;
		transform: translateY(-50%);

		color: rgb(14, 53, 69);
		font-size: 1.1rem;
	}

	@include pseudo($loc: after) {
		background-color: #ff0;
		height: calc(var(--size) - 1em);
		width: calc(var(--size) - 1em);
		border-radius: 50%;
		top: 50%;
		transform: translate(calc(var(--width) - 130%), -50%);
		transition: transform 250ms ease-in-out;
	}
}

.darkmode-check:checked + .darkmodeSwitch {
	--bg: rgb(0, 69, 99);
	background-color: var(--bg);

	@include pseudo($loc: after) {
		transform: translate(calc(var(--width) - 165%), -50%);
		top: 35%;
		background-color: transparent;
		box-shadow: 0.4em 0.4em 0 #fff;
	}

	@include pseudo($loc: before, $content: 'Dark') {
		color: rgb(185, 235, 255);
	}
}
