footer {
	position: absolute;
	bottom: 0;
	width: 98%;
	border-top: 1px solid var(--clr-footer-border);
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--clr-body-bg);
	p {
		text-align: center;
	}
}
