@use '../utilities';

body {
	font-family: var(--font-pmry);
	background-color: var(--clr-body-bg);
	color: var(--clr-body-text);
	min-height: 100vh;
	position: relative;
	transition: background-color 250ms ease;
}

header {
	width: 100%;
	height: 5em;
	margin: 1.8em auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 90%;
	max-width: 1200px;

	h1 {
		margin: 0;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

main {
	padding-bottom: 70px;
}
