@use '../utilities';

body {
	font-family: var(--font-pmry);
	background-color: var(--clr-body-bg);
	color: var(--clr-body-text);
	min-height: 100vh;
	position: relative;
	transition: background-color 250ms ease;
}

header {
	width: 100%;
	height: 5em;
	margin: 1.8em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	h1 {
		margin: 0;
	}
}
