---
layout: base.njk
title: My Blog
---

<main>
        <section class="cards-container">
            <article class="card">
                <a href="" class="article-link">
                    <img src="https://live.staticflickr.com/7899/33529795428_44614ee3c6_w.jpg" alt="">
                    <div class="card-content">
                        <h2>Lorem, ipsum.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo</p>
                    </div>
                </a>
            </article>

            {% for article in collections.articles %}

            <article class="card">
                <a href="{{ article.url }}" class="article-link">
                    <img src="https://live.staticflickr.com/7899/33529795428_44614ee3c6_w.jpg" alt="">
                    <div class="card-content">
                        <h2>{{ article.data.title }}</h2>
                        <p>{{ article.data.page.excerpt | safe }}</p>
                    </div>
                </a>
            </article>

            {%- endfor %}
        </section>
</main>

