---
layout: base.njk
title: My Blog
---

<main>
        <section class="cards-container">
            {% for article in collections.articles %}

            <article class="card">
                <a href="{{ article.url }}" class="article-link">
                    {% set image_url = ["./src/img/", article.data.coverImage] | join %}
                    {% image image_url, article.data.title %}
                    <div class="card-content">
                        <h2>{{ article.data.title }}</h2>
                        <p>{{ article.data.page.excerpt | safe }}</p>
                    </div>
                </a>
            </article>

            {%- endfor %}
        </section>
</main>

